/*paulos*/
/*paulos*/
/*paulos*/
/*paulos*/
body {
    font-family: Arial, sans-serif;
    background-color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 15px;
}

header .logo {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    align-items: center;
    cursor: pointer;

}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: underline;

    opacity: 0.3;
}

.account a {
    color: white;
    text-decoration: none;
    margin: 0 5px;
}

.account a:hover {
    opacity: 0.3;
    text-decoration: none;

}

.featured,
.categories,
.news,
.community {
    color: gold;
    margin: 20px;
    padding: 15px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
    border-radius: 15px;
}

input {
    background-color: white;
    width: 180px;
    height: 25px;
    font-size: 18px;

    font-weight: 400;
    font-size: 15px;
    line-height: 14px;
    vertical-align: 9px;
    border-radius: 10px;
    color: #333;
    cursor: text;
}


.featured-slider {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    background-color: #333;
    border-radius: 15px;
    width: 60%;
    padding: 20px;
}

.featured-slide {
    flex: none;
    width: 200px;
    /* Width of each movie */
    height: 300px;
    /* Height of each movie */
    margin-right: 45px;
    background-color: white;
    /* Placeholder style */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    /* Optional */
    cursor: pointer;
}

/* Hide scrollbar for aesthetic purposes */
.featured-slider::-webkit-scrollbar {
    display: none;
}

.featured-slider {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}




.slider-container {
    background-color: #333;
    position: relative;
    width: 60%;
    border-radius: 10px;
}

.movie-slider,
.tv-show-slider {
    display: flex;
    background-color: #333;

    overflow-x: hidden;
    scroll-behavior: smooth;
    width: calc(100% - 40px);
    /* Adjust based on button width */
    margin: 0 20px;
    /* Adjust margin if necessary */
}

.movie-slide,
.tv-show-slide {
    flex: none;
    flex-basis: 50%;
    /* Adjust for 2 slides at a time */
    width: 200px;
    /* Width of each movie */
    height: 100px;
    /* Height of each movie */
    margin-right: 45px;
    background-color: white;
    margin-right: 15px;
    /* Other styles remain the same */
}

/* Style for buttons */
.slideLeftMovies,
.slideRightMovies {
    background-color: gold;
    align-items: center;
    border-radius: 40px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    
    border: none;
    cursor: pointer;
}

.slideLeftMovies {
    left: 0;
}

.slideRightMovies {
    right: 0;
}

/* Form Container */


/* Form Title */
.register-container h2,
.signin-container h2 {
    text-align: center;
    color: #333;
}

/* Form Group Styling */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    /* Ensures padding doesn't affect overall width */
}

/* Button Styling */
.form-group button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #333;
    color: white;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #555;
}


.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 30px;
    width: 25%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.top-movies-list {
    max-height: 690px;
    background-color: white;
    overflow-y: auto;
    border: 5px solid gold;
    padding: 10px;
}

.top-movies-list li {
    background-color: white;
    padding: 10px; /* Adjust the padding as needed */
    border-bottom: 1px solid #ccc;
}

.top-movies-list li:last-child {
    background-color: white;
    border-bottom: none;
}

/* Style for movie buttons */
.movie-button {
    background-color: white;
    color: gold;
    border: none;
    padding: 0; /* Adjust the padding as needed */
    margin: 0; /* Adjust the margin as needed */
    cursor: pointer;
}

.movie-button {
    margin-left: 10px; /* Adjust the left margin as needed */
    font-size: 16px;
}

.movie-button:hover {
    background-color: gold;
    color: black;
}
.movie-info p {
    color: white;
    display: flex;
    align-items: center;
}
.scrollable-list {
    max-height: 300px; /* Adjust the height as needed */
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: white;
    border: 5px solid gold;
    margin-bottom: 5px; /* Add some margin to the bottom */
}

.comment {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc; /* Border between comments */
    padding-bottom: 5px; /* Optional: Add some spacing */
}

.gold-text {
    color: gold;
}

.white-text {
    color: black;
}

.comment-icon {
    margin-left: 10px; /* Adjust the margin as needed */
}

.add-comment-button {
    background-color: gold;
    color: black;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    margin-left: 1700px;
    border-radius: 5px;
}

.add-comment-button:hover {
    background-color: darkgoldenrod; /* Change the background color on hover */
}
/* Style for like button */
.like {
    background-color: gold;
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.like:hover {
    background-color: darkgoldenrod; /* Change color on hover */
}

/* Style for dislike button */
.dislike {
    background-color: gold;
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.dislike:hover {
    background-color: darkgoldenrod; /* Change color on hover */
}



/*thanos*/
/*thanos*/
/*thanos*/
/*thanos*/


/* Add these styles in your existing style.css file or within a <style> tag in the head of your HTML */
.genre-dropdown {
    display: none;
    position: absolute;
    background-color: #333; /* Change the background color to your preference */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.genre-dropdown a {
    color: gold; /* Change the color to your preference */
    text-decoration: none; /* Remove the underline */
    font-size: 16px; /* Adjust the font size to your preference */
    display: block;
    padding: 10px; /* Add padding for better spacing */
}

.genre-dropdown a:hover {
    background-color: #555; /* Change the background color on hover */
}

.dropdown-btn {
    color: gold; /* Change the color to your preference */
    cursor: pointer;
    font-size: 16px; /* Adjust the font size to your preference */
    pointer-events: auto; /* Make only the arrow clickable */
}

.dropdown-btn:hover {
    background-color: transparent; /* Remove background color on hover */
}

.dropdown-container {
    position: relative;
    display: inline-block;
    font-size: 24px; /* Adjust the font size to match the other elements */
}

.dropdown-container:hover .genre-dropdown {
    display: block;
}

.dropdown-header {
    font-size: 24px; /* Adjust the font size to your preference */
}


/*MOVIEVIEW*/
.add-comment-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.add-comment-button {
    margin-left: 10px; /* Adjust as needed */
}